
@import url('https://fonts.googleapis.com/css?family=Stalemate');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#header {
  background: url("resources/background.jpg") no-repeat;
  background-position: 0% 20%;
  background-size: cover;
}

#restaurant-name {
  font-family: 'Stalemate', cursive;
  width: 100%;
  line-height: 80px;
  text-shadow: 1px 1px 20px #000000;
  color: #eee;
  position: absolute;
  text-align: center;
}

.header-button-container {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 250px;
  height: 37px;
}

.header-button {
  background-color: rgba(50, 50, 50, 0.2);
  border: none;
  border-radius: 3px;
  color: #eee;
  font-size: 16px;
  font-weight: 100;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.header-button:hover{
  background-color: rgba(50, 50, 50, 0.9);
  transition-duration: 0.3s;
}

#header div:not(.header-button-container){
  width: 100%;
  height: 100%;
}

#search-input{
  margin: 10px 30px 10px 0;
  border: none;
  border-radius: 5px;
  background-color: rgba(50, 50, 50, 0.2);
  height: 50px;
  width: 0;
  font-size: 28px;
  font-weight: 100;
  color: rgba(250, 250, 250, 0.7);
}

#search-input:focus {
  padding: 0 10px;
  background-color: rgba(50, 50, 50, 0.8);
  transition-duration: 0.5s;
  width: 300px;
  outline: none;
}

#header i {
  color: rgba(50, 50, 50, 0.4);
  margin: 10px 10px 10px 0;
  zoom: 2;
}

#header i:hover, #admin-header i:hover {
  color: rgba(50, 50, 50, 0.8);
  transition-duration: 0.3s;
}

.button-class {
  border: none;
  border-radius: 3px;
  color: #eee;
  font-size: 16px;
  font-weight: 100;
  padding: 7px 10px;
  background-color: rgba(75, 47, 27, 0.8);
  text-shadow: 1px 1px 20px #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.button-class:hover {
  background: rgba(34, 22, 14, 0.8);
  transition-duration: 0.3s;
}


#content {
  background-color: #eee;
  padding: 10px 0;
  border-radius: 10px;
  margin: 10px 0;
}

.list-item {
  margin: 10px 0;
  padding: 0 10px;
}

img {
  height: 200px;
  margin: 10px 0;
}


#footer {
  padding: 30px 10px;
  min-height: 300px;
  background-color: rgb(44, 43, 48);
  border-radius: 10px;
  color: #eee;
  text-shadow: 1px 1px 20px #000000;
}

.address {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
}

#popup-container {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(50, 50, 50, 0.5);
}

#popup-window {
  height: 80%;
  background-color: rgba(70, 70, 70, 1);
  margin: 0;
  color: #eee;
  text-shadow: 1px 1px 20px #000000;
  padding: 10px 0;

}

#popup-window div{
  margin: 5px 0;
}

#popup-window .overflow{
  height: 50%;
  overflow-y: scroll;
}

#popup-window textarea{
  height: 200px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

#popup-window input{
  width: 80%;
  margin: 5px 0;
  height: 25px;
  padding: 0 5px;
  border-radius: 5px;
  border: none;
}


/* others */
.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-self-center {
  margin: 0 auto;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: flex-end;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.align-self-bottom {
  align-self: flex-end;
}
