*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


.details-button {
  height: 30px;
}

.list-item {
  margin: 10px 0;
  padding: 0 10px;
}

.list-item img {
  height: 200px;
}


#footer {
  padding: 30px 0;
  min-height: 300px;
}

.address {
  margin-top: 80px;
  text-align: center;
}


/* others */
.d-flex {
  display: flex;
}

.justify-center{
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}
