body {
  margin: 0;
  background-color: #ddd;
}

.wrapper {
  width: 70%;
  margin: auto;
  background-color: #444;
  overflow: hidden;
}

.background-home {
  background: linear-gradient(transparent 50%, #444), url("resources/Home.jpg");
  background-repeat: no-repeat;
  height: 790px;
}

.background-history {
  background: linear-gradient(transparent 50%, #444), url("resources/History.jpg");
  background-repeat: no-repeat;
  height: 790px;
}

.background-about {
  background: linear-gradient(transparent 50%, #444), url("resources/About.jpg");
  background-repeat: no-repeat;
  height: 790px;
}

.navbar {
  width: 60%;
  background-color: rgba(135,135,135,0.5);
  transform: skew(-40deg);
  overflow: hidden;
  position: relative;
  left: -25px;
  border-radius: 5px;
}

.navbar ul {
  margin: 0;
  list-style: none;
  display: flex;
}

.navbar div {
  transform: skew(40deg);
  display: flex;
  justify-content: center;
}


.navbar li{
    padding: 20px;
    width: 100%;
}

.navbar li:hover {
  transition-duration: 0.3s;
  background-color: rgba(135,135,135,0.5);
}

.navbar a {
  text-decoration: none;
  font-family: arial;
  font-weight: bolder;
  color: #eee;
}

.background-home h1 {
  font-family: monospace;
  font-size: 100px;
  font-weight: 100;
  letter-spacing: 10px;
  text-align: center;
  margin-top: 17%;
  color: rgba(200,200,200,0.7  );
}

.article p, .article li {
  font-size: 18px;
  color: #ddd;
  margin: 0 40px 50px;
}

.article p {
  text-indent: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #333;
  height: 180px;
}

.footer p, .footer a {
  color: #ddd;
}

.footer a:hover {
  color: #7dd;
}

.contactfooter {
  display: flex;
  justify-content: space-around;
}

.contactme p {
  color: #ddd;
  margin: 0;
}

.contactme form {
  margin: 10px 10px;
}

.contactme form textarea {
  resize: none;
  margin: 5px 0;
  width: 200px;
  height: 40px;
}

.visit {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 40px 30px;
}

.visit-tips {
  font-family: arial;
  font-weight: 100;
  color: #eee;
  text-align: center;
  text-shadow: 1px 1px 10px #999;
}

.visit a {
  text-decoration: none;
}

.items {
  width: 16vw;
  height: 130px;
  padding: 30px 30px;
  margin: 5px 5px;
  background-color: rgba(255,255,255,0.1);
  border-radius: 5px;
}

.items:hover {
  transition-duration: 0.5s;
  background-color: rgba(255,255,255,0.4);
  font-size: 20px;
}

.items h2 {
  text-align: center;
  font-family: arial;
  font-weight: bolder;
  color: #eee;
}

.items p {
  display: flex;
  justify-content: center;
  color: #eee;
  font-family: arial;
}
